@import "~/src/style/variables.scss";

.farmItem {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 200px 200px 100px;
  justify-items: end;
  align-items: center;
  cursor: pointer;

  :global {
    .icon {
      font-size: 20px;
    }
  }
}

.farmName {
  justify-self: start;
}
